<section class="sidebar">
    <div class="sidebar__title">
        Company
    </div>
    <nav class="sidebar__menu">
        <ul>
            <li>
                <img src="../img/dashboard_gray.svg" alt="img">
                Dashboard
            </li>
            <li>
                <img src="../img/account_gray.svg" alt="img">
                User Profile
            </li>
            <li>
                <img src="../img/map_gray.svg" alt="img">
                Maps
            </li>
            <li>
                <img src="../img/notify_gray.svg" alt="img">
                Notifications
            </li>
            <li>
                <img src="../img/support_gray.svg" alt="img">
                Support
            </li>
        </ul>
    </nav>
</section>